---
# see https://pre-commit.com

exclude: |
  (?x)^(
    .+/USAGE.md
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=512"]
      - id: check-json
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  # yamllint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint

  # cspell
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v7.0.1
    hooks:
      - id: cspell

  # markdownlint
  # see: https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.36.0
    hooks:
      - id: markdownlint

  # textlint
  - repo: local
    hooks:
      - id: textlint
        name: textlint
        language: node
        types: [file]
        files: \.(txt|md|mdown|markdown)$
        entry: textlint
        require_serial: false
        additional_dependencies:
          - "textlint@12.2.1"
          - "textlint-filter-rule-allowlist@4.0.0"
          - "textlint-rule-ja-no-space-between-full-width@2.2.0"
          - "textlint-filter-rule-comments@1.2.2"
          - "textlint-rule-no-dropping-the-ra@3.0.0"
          - "textlint-rule-terminology@3.0.1"

  # shellcheck
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck

  # prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        name: Format GitHub Actions workflow files
        types:
          - yaml

  # actionlint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint-docker

  # renovate-config-validator
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 36.102.0
    hooks:
      - id: renovate-config-validator
        files: renovate.json

  # terraform fmt
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.83.3
    hooks:
      - id: terraform_fmt
